@model IEnumerable<Parbat.Core.API.Client.OrgUnit>

@{
    ViewData["Title"] = "Courses List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Courses List</h1>

<div id="ModalPlaceHolder"></div>

<p>
    <button type="button" class="btn btn-link" data-toggle="ajax-modal"
            data-target="#createCourse" data-url="@Url.Action("Create", "Course")">
        Create Course
    </button>
</p>

<table class="table" id="orgUnitList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.Display("Details")
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model is not null)
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="ajax-modal"
                            data-target="#editItem" data-url="@Url.Action("List", "Course", new { id = item.OrgUnitID})">
                                View Courses
                        </button>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#orgUnitList').DataTable();
    });
</script>